@import '../../_varsAndMixins';


a {
    color: inherit;
}

.type-container {
    // @include box-tester;
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.webdev {
    background: $color-seven;
}

.design {
    background: $color-six;
}

.role-title-text {
    // @include box-tester;
    flex:.15;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.projects-wrapper {
    // @include box-tester;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 30px 30px;
}

.multi-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.project {
    // @include box-tester;
    height: 472px;
    width: 513px;
    padding: 10px;
    position: relative;
    border: 2px solid $color-two;
    border-radius: 5px;
    background: $color-six;
}

.mobile {
    // @include box-tester;
    width: 275px;
    margin: 0 auto;
    height: 100%;
}

#charmi {
    width: 100%;
    height: 100%;
    background: url('../../assets/charmi.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#att {
    width: 100%;
    height: 100%;
    background: url('../../assets/anotherATT.PNG');
    background-size: cover;
    background-repeat: no-repeat;
}

#ffxiv {
    width: 100%;
    height: 100%;
    background: url('../../assets/ffxivphone.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#tpl {
    width: 100%;
    height: 100%;
    background: url('../../assets/receipt.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.project-title {
    height: 30px;
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
    font-family: $font-three;
    background: $color-four;
    color: $color-one;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}

.framework {
    height: 30px;
    padding: 0px 10px;
    position: absolute;
    bottom:0px;
    left:0px;
    font-family: $font-three;
    background: $color-two;
    color: $color-one;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    border-top-right-radius: 5px;   
}

.project-info {
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    font-family: $font-three;
    background: $alpha-background;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-info-text {
    color: $color-five;
    line-height: 20px;
    vertical-align: middle;
}

.project-info-text ul {
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-info-text li {
    list-style: none;
}

.info-header {
    font-weight: bold;
}