@import '../../_varsAndMixins';

.portfolio-wrapper {
    height: 100vh;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
    background: url('https://png.pngtree.com/element_origin_min_pic/17/07/09/19438a898a580b3976dbabeab240d109.jpg');
    background-size: cover; 
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    opacity: 20%; 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.port-piece-container {
    height: 40vw;
    background: purple;
    position: relative;
    @include borders;
}

.port-info {
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: $color-one;
    @include standard-text;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.port-info li {
    list-style: none;
}



#project-1 {
    background: url('../../assets/anotherATT.PNG');
    background-size: cover;
}

.project2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
    @include borders;
    background: rgba(0,0,0,0.3);
    position: relative;
}

#project-2 {
    background: url('../../assets/ffxivphone.png');
    background-size: cover;
    height: 45vw;
    width: 25vw;
    background-repeat: no-repeat;
    min-height: 435px;
    min-width: 242px;
}

#info-2 {
    width: 100%;
    background: rgba(0,0,0,0.2);
}

a {
    color: inherit;
}

#project-3 {
    background: url('../../assets/receipt.png');
    background-size: cover;
}

.role-titles {
    height: 3px;
    width: 100%;
    background-image: -webkit-linear-gradient(right, rgba(180, 189, 195, .5) 0%, #718496 100%);
    margin-bottom: 5px;
    border-radius: 2px;
}

.role-title-text {
    @include titles;
}