@import '../../_varsAndMixins';

.portfolio-wrapper {
    height: 100vh;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
    background: url('https://png.pngtree.com/element_origin_min_pic/17/07/09/19438a898a580b3976dbabeab240d109.jpg');
    background-size: cover; 
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    opacity: 20%; 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.port-piece-container {
    height: 40vw;
    position: relative;
    margin-bottom: 50px;
    @include borders;
    background: purple;
}

.port-info {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    // line-height: 20px;
    @include standard-text;
    color: $color-one;
    background: $alpha-background;
}

.port-info ul {
    padding: 10px;
}

.port-info li {
    list-style: none;
}

#charmi {
    background: url('../../assets/charmi.png');
    background-size: cover;
    height: 45vw;
    width: 25vw;
    background-repeat: no-repeat;
    min-height: 435px;
    min-width: 242px;    
}

#att {
    background: url('../../assets/anotherATT.PNG');
    background-size: cover;
}

#ffxivsl {
    background: url('../../assets/ffxivphone.png');
    background-size: cover;
    height: 45vw;
    width: 25vw;
    background-repeat: no-repeat;
    min-height: 435px;
    min-width: 242px;
}

#tpl {
    background: url('../../assets/receipt.png');
    background-size: cover;
}

.mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    @include borders;
    background: rgba(0,0,0,0.3);
    position: relative;
}

a {
    color: inherit;
}


.role-title-text {
    @include titles;
    margin-bottom: 20px;
    border-bottom: 2px solid $color-one;
}