div {
    background: rgba(0, 0, 0, .05);
    border: 1px solid red;
}

body {
    overflow: hidden;
}

.nav-wrapper {
    display: block;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.top {
    width: 100%;    
    position: fixed;
    top: 0px;
    text-align: center;
    /*cursor: pointer;*/
    z-index: 50;
    position: fixed;
    bottom: 50%;
    text-align: center;
    /*width: 100px;*/
    height: 20px;
    padding-bottom: 0px;
    margin-bottom: 50px;
    border-bottom: solid 6px rgba(0,0,0,0);
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 4px;
    text-indent: 4px;   
}

.right {
    right: -30px;
}

.bottom {
    height: 35px;
    width: 100%;    
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.sideNav {
    cursor: pointer;
    z-index: 50;
    position: fixed;
    bottom: 50%;
    text-align: center;
    /*width: 100px;*/
    height: 20px;
    padding-bottom: 0px;
    margin-bottom: 50px;
    border-bottom: solid 6px rgba(0,0,0,0);
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 4px;
    text-indent: 4px;    
}

.left {
    left: -30px;
}