@import '../_varsAndMixins';

.nav-wrapper {
    width: 100vw;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, .5);
    z-index: 1000;
    background: $color-three;
}

.logo-wrapper {
    width:46px;
}

.logo-container {
    height: 30px;
    width: 30px;
    background: url('../assets/mylogo2.png');
    background-size: cover;
}

.name-wrapper {
    text-align: center;
    color: $color-four;
}

.my-titles {
    font-family: $font-three;
    letter-spacing: 3px;
    font-size: 1.4em;
    color: $color-four;    
}

.links-wrapper {
    flex:1;
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px;
}

.links-container li:hover {
@include nav-button-hover;
}

.links-container li {
    margin-left: 10px;
    list-style: none;
    padding: 5px;
    @include navButtons;
}