@import '../../_varsAndMixins';

.about-wrapper {
    z-index: 50;
    max-height:524px;
    height:60vh;
    padding: 0px 10px;
    position: fixed; 
    bottom:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 235px;
    max-width: 1440px;
    width: 1000px; 
    text-align: center;
    background: rgba(0, 0, 0, .7);
}

.title-container {
    width: 100%;
    height: $title-height;
    border-bottom: 1px solid $color-one;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-wrapper li {
    list-style: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:70px;
}

.title-container-text {
    @include modal-title-text;
}


.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.profile-container div {
    flex: 2;
    height: 85%;
    padding:20px;
    text-align: left;
}

.picture-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#me-picture {
    background: url('../../assets/jodaSmall.jpg');
    background-size: cover;
    border-radius: 26%;
    border: 2px solid $color-one; 
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.closingX {
    @include closing-x;
}

.about-text {
    color: $color-one;
    @include standard-text;
}

.link :hover {
    text-decoration-line: underline;
    color: $color-three;
}