@import '../../_varsAndMixins';

.about-wrapper {
    height: 75vh;
    width: 100vw;
    background: url('../../assets/backgrounds/map.png');
    background-size:cover;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-container-text {
    @include modal-title-text;
}


.profile {
    // @include box-tester;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.profile-container {
    // @include box-tester;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 75vw;
}

.profile-container div {
    flex: 2;
    height: 85%;
    padding:20px;
    text-align: left;
}

.picture-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#me-picture {
    background: url('../../assets/jodaSmall.jpg');
    background-size: cover;
    border-radius: 26%;
    border: 2px solid $color-one; 
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text {
    color: $color-one;
    @include standard-text;
    line-height: 15px;
}

.highlight-link {
    color: $color-two;
}

.link :hover {
    text-decoration-line: underline;
    color: $color-two;
}