// »»»»»»»»»»»»»»»»»»»║ FONTS
@import url('https://fonts.googleapis.com/css?family=Fresca|Josefin+Sans|Source+Code+Pro');

// »»»»»»»»»»»»»»»»»»»║ VARIABLES
$color-one: #f2f2f2;
$color-two: #061F3E;
$color-three: #595C80;
$primary-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$title-height: 40px;
$outline-text: 0px 1px 1px black;
$drop-shadow: 0px 5px 8px rgba(0, 0, 0, .5);

// »»»»»»»»»»»»»»»»»»»║ TESTS
@mixin box-tester {
    border: 1px solid red;
    // background: rgba(200, 0, 50, .1);
}

// »»»»»»»»»»»»»»»»»»»║ Mixins
// ...............╪ styles ╪
@mixin borders {
    border: 2px solid $color-one;
    border-radius: 3px;
}


// ...............╪ text ╪
    @mixin titles {
        height: 30px;
        line-height: 30px;
        font-size: 1.5em;
        width: 100%;
        color: $color-one; 
        font-family: $primary-font;
    }

    @mixin modal-title-text {
        margin-bottom: -6px;
        line-height: $title-height;
        color: $color-one;
        text-shadow: $outline-text;
        font-family: $primary-font;
        font-size: 1.4em;
        height: $title-height;
    }

    @mixin standard-text {
        font-family: $primary-font;
        font-size: 12px;
        letter-spacing: 2px;
        text-shadow: $outline-text;
        line-height: 15px;
        padding: 5px;    
    }

// ...............╪ buttons ╪
    @mixin navButtons {
        font-family: $primary-font;
        font-size: 1em;
    }

    @mixin nav-button-hover {
        background: $color-two;
        color: $color-one;
        box-shadow: $drop-shadow;
        text-shadow: $outline-text;
        cursor: pointer;
        border-radius: 3px;
    }

    @mixin closing-x {
        position: absolute;
        top: 5px;
        right: 5px;
        color: $color-one;
        text-shadow: $outline-text;
        cursor: pointer;
    }